h1 {
  text-align: center;
}

h3, p, label  {
  color: white;
  text-align: center;
  text-shadow: 2px 2px green;
}

li {
  color: white;
  text-shadow: 2px 2px green;
}

.container {
  background-color:blue;
}

#answerDisplay {
  display: block;
}

#list {
  text-shadow: 2px 2px green;
  text-align: center;
}

#btn {
  text-align: center;
  border-color: yellow;
}

#labelStyle, #userInput {
  text-align: center;
}
